//Fonts Defenition
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@lato: "Lato", @stack-sans-serif;
.lato-light, .lato-regular, .lato-bold, .lato-black {
  font-family: @lato;
}
.lato-light {
  font-weight: 300;
}
.lato-regular {
  font-weight: 400;
}
.lato-bold {
  font-weight: 700;
}
.lato-black {
  font-weight: 900;
}
h1, h2, h3, h4, h5, h6,
.primary-heading {
  &:extend( .lato-bold );
}
h1, h2, h3, h4, h5, h6,
.primary-heading, .secondary-heading {
  color: @primary-header-color;
}
.secondary-heading {
  &:extend( .lato-light );
}
.tertiary-heading {
  &:extend( .lato-black );
  color: @grey;
  text-transform: uppercase;
}
body, a, button, .body-text {
  &:extend( .lato-regular );
}
dt, th, .input-label, strong {
  font-weight: 700;
}
a {
  text-decoration: none;
}
//Common overriding
.input-label {
  color: @dark-gray;
  input,
  textarea,
  select {
    .border-radius(@default-radius);
    outline: none;
    border: 1px solid #dddddd;
    padding: 10px 18px;
    &:hover, &:active, &:focus {
      border-color: #837f81;
    }
  }
}
//Page styles
.header-wrapper {
  background: @dark-blue;
}
.site-title {
  color: @light-blue;
  margin: 15px 0 0 0;
  text-align: center;

  @media @small-screens-min {
    float: left;
  }
}
.support {
  margin: 12px 0 0 0;

  @media @small-screens-min {
    float: right;
  }

  &__description {
    color: @light-blue;
    margin: 3px 0 0 0;
    text-align: center;
    @media @small-screens-min {
      float: left;
    }
  }
  &__cta {
    display: block;
    width: 107px;
    background: @green;
    color: @white;
    border: none;
    margin: 12px auto 14px;
    padding: 6px 20px;
    font-weight: bold;
    .border-radius(@default-radius);
    &:hover, &:active, &:focus {
      background: @light-green;
      color: @white;
    }

    @media @small-screens-min {
      float: right;
      margin: 0 0 13px 15px;
    }

  }
}
.main-nav {
  background: @blue;
  height: 75px;
}
.nav-links {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  &__item {
    float: left;
    a {
      background: @blue;
      text-transform: uppercase;
      color: @white;
      padding: 10px 35px;
      font-weight: 200;
      .border-radius(@default-radius);
      &:hover, &:focus, &:active {
        background: @light-blue;
      }
    }
  }
}
.login {
  float: right;
  .border-radius(@default-radius);
  background: @cta-blue;
  font-weight: 200;
  text-transform: uppercase;
  color: @white;
  padding-left: 44px;
  padding-right: 44px;
  &:hover, &:focus, &:active {
    background: lighten(@cta-blue, 15%);
    color: @white;
  }
}
.google-maps {
  height: 340px;
}
.contact-us {
  padding: 45px 0 0 0;
  height: 574px;
}
.contact-title {
  text-align: center;
  color: @dark-blue;
  font-size: 35px;
  font-weight: 800;
}
.contact-description {
  text-align: center;
  color: @gray;
  font-weight: 200;
  font-size: 20px;
}
.submit_form {
  background: @cta-blue;
  color: @white;
  font-weight: 600;
  float: left;
  .border-radius(@default-radius);
  padding-left: 36px;
  padding-right: 36px;
  &:hover, &:focus, &:active {
    background: lighten(@cta-blue, 15%);
    color: @white;
  }
}
.send-info {
  float: left;
  margin-top: 28px;
  margin-left: 15px;
  color: @gray;
  font-weight: 200;
}
.footer {
  background: @dark-blue;
  height: 50px;
  padding: 13px 0 0 0;
}
.copyright {
  color: @light-blue;
  float: left;
}
.extra-info {
  color: @light-blue;
  float: right;
}